/* Create React Template CSS */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SignUp.js CSS */

.btn{
  color: white;
  background-color: rgb(30, 195, 44);
  border-radius: 15px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
}

.messages{
  display: flex;
  justify-content: center;
}
 
.error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
}
 
.success{
  display: block;
  background-color: rgb(68, 157, 213);
  color: black;
  width: fit-content;
  height: 70px;
  padding: 5px;
}
